@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}
body{
    background: #F9FAF5;
    height: 100vh;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between center;
    gap: 30%;
    align-items: center;
    margin-top: 7%;
    margin-left: 1%;
}
#container-text-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#container-text-avatar{
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 20%;
}
h2{
    font-family: 'Boogaloo';
    font-size: 60px;
    width: 400px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #6E77EE;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button p {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #000;
    font-family: 'Boogaloo';
  }
  
  button svg {
    position: absolute;
    right: 0.8em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1.5em;
    fill: #000
  }
  
  button:hover p {
    left: 0.6em;
    color: #000
  }
  button:hover svg {
    opacity: 1;
  }
  
  button:hover {
    background-color: #6E77EE;
    border: 2px solid #000;
  }
.avatar-home{
    width: 300px;
}
.avatar-home:hover{
    animation: loading 2s;
}
@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 850px) {
    #container{
        gap: 10%;
        margin-left: 2%;
        margin-top: 40%;
    }
    h2{
        width: 200px;
        font-size: 40px;
    }
    #container-text-avatar{
        justify-content: center;
        flex-direction: column-reverse;
    }
    .avatar-home{
        width: 350px;
    }
    
}
@media screen and (max-width: 730px) {
    #container-home{
        justify-content: center;
        align-items: center;
        margin-top: 30%;
    }
    h2{
        font-size: 25px;
        width: 200px;
    }
    button{
        font-size: 18px;
        width: 120px;
        height: 35px;
        margin-top: 5%;
    }
    .icon-seta{
        font-size: 1.5rem;
    }
    .avatar-home{
        width: 200px;
    }
    
}