@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
}
/*star navigation*/
.navigation{
    
    background: #444444;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Lexend";
    opacity: 90%;
    padding-right: 7%;
}

.navigation ul{
    display: flex;
    width: 300px;
    gap:25%;
}

.navigation ul li{
    padding: 0;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500px;
}

.navigation ul li a .icon{
    display: flex;
    padding-top: 10px;
    font-weight: 200px;
    line-height: 7px;
    font-size: 2.5em;
    text-align: center;
    transition: 0.5s;
    color: #fff;
}

.navigation ul li:hover a .icon{
    transform: translateY(-32px);
}

.navigation ul li a .text{
    position: absolute;
    color: #fff;
    padding-top: 40px;
    font-size: 20px;
    letter-spacing: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text{
    opacity: 1;
    transform: translateY(10px);
}
/*end navigation*/

@media (max-width: 999px){
    .navigation{
        padding-right: 20%;
    }
}
@media (max-width: 560px){
    .navigation{
        padding-right: 25%;
    }
}

@media (max-width: 499px){
    .navigation{
        width: 80%;
        padding-left: 13%;
    }
    .navigation ul{
        display: flex;
        width: 300px;
        gap:25%;
    }
    
    .navigation ul li a .icon{
        font-size: 1.5em;
    }

    .navigation ul li a .text{
        font-size: 15px;
    }
}

@media (max-width: 350px){
    .navigation{
        padding-left: 0;
    }
    .navigation ul li a .icon{
        font-size: 1.5em;
        padding-right: 2%;
        margin-left: 40%;
    }
    .navigation ul{
        gap:27%;
    }
    .navigation ul li a .text{
        font-size: 10px;
        padding-top: 20px;
    }
}