@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 800;
}
body{
    background: #F9FAF5;
    height: 100vh;
}

#container{
    display: flex;
    justify-content: space-between center;
    gap: 10%;
    align-items: center;
    margin-top: 5%;
}
.trabs{
    width: 300px;
    cursor: pointer;
    transition: all .5s;
}
.trabs:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
#container-trabs{
    display: flex;
    align-items: center;
    gap:10%;
}
#container-avatar{
    display: flex;
    position: relative;
}
.img-avatar{
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
}
.img-avatar:hover{
    animation: loading 2s;
}
@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 850px) {
    #container{
        margin-left: 0;
        gap: 20%;
        margin-top: 20%;
    }
    #container-trabs{
        flex-direction: column;
    }
    .trabs{
        width: 200px;
    }
    .img-avatar{
        width: 100px;
        height: 100px;
        bottom: 0;
        position: relative;
    }
}

