@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

/*body html*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
}

/*body*/
body{
    background: #202020;
    height: 100vh;
    background-size: 200% 100%;
    justify-content: center;
}
h2{
    display: grid;
    color: white;
    font-family: "Lexend";
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    
}
/*progress*/
progress {
    background: #fff;
    width: 250px;
    height: 15px;
    border: 2px solid #000;
}

/*change color*/
progress::-webkit-progress-value {
    background-color: #FFBF00;
}

/*text container*/
#text{
    display: flex;  
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

/*skills text*/
#skills{
    color:#fff;
    font-size: 30px;
    font-family:"Lexend";
}

/*container*/
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Lexend";
    flex-direction: row;
    padding-top: 1%;
    color: #fff;
    font-size: 25px;    
}

/*soft square*/
#soft{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
    color: #000;
}

/*hard square*/
#hard{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #000;
}

.text{
    color: #000;
    font-size: medium;
    font-weight: bold;
}
/*square inside*/
#container-progress{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: "Lexend";
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
}

/*progress container*/
.bar-progress{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
/*footer*/
footer{   
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
/*responsiveness*/
@media (max-width: 999px) {
    #container{
        margin-top: 15%;
    }
}

@media (max-width: 775px) {
    #soft{
        width: 300px;
        height: 370px;
    }
    #hard{
        width: 300px;
        height: 370px;
    }

}
@media (max-width: 560px){
    #container{
        flex-direction: column;
    }
    footer{
        position: relative;
        padding-top: 2%;
    }
}